{% load static %}

<!--Latest version JQuery-->
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>

<!--Bootstrap js-->
<script src="{% static 'js/popper.min.js' %}"></script>

<!--easing js-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--mixitup js-->
<script src="{% static 'js/mdb.min.js' %} "></script>